body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(to right, #1e3c72, black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
}

nav.scrolled {
    background: linear-gradient(to right, #2a5298, #1e3c72);
}

nav .brand {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.7rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: red;
}

section {
    height: 100vh;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
}

#section01 { background: linear-gradient(to right, white, black); }
#section02 { background:  linear-gradient(to right, rgb(22, 195, 140), rgb(98, 4, 12)); }
#section03 { background:  linear-gradient(to right, yellow, green); }
#section04 { background:  linear-gradient(to right, orange, purple); }
